<%= form_for [refinery, :feedsucker, :admin, @feed] do |f| -%>
  <%= render :partial => "/refinery/admin/error_messages", :locals => {
    :object => @feed,
    :include_object_name => true
  } %>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :nicetitle -%>
    <%= f.text_field :nicetitle -%>
  </div>

  <div class='field'>
    <%= f.label :url -%>
    <%= f.text_field :url -%>
  </div>

  <%= render :partial => "/refinery/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete'),
                :delete_confirmation => t('message', :title => @feed.title)
              } %>
<% end -%>
